#audio:hover {
  transition: 200ms;
  background-color: @surface_container;
  border-radius: 15px;
}
#pulseaudio {
  color: @on_surface;
  transition: 300ms;
  font-size: 20;
  margin: 0 3;
}
#pulseaudio:hover {
  color: @primary;
  transition: 300ms;
}
#pulseaudio-slider {
  margin: 0 4 0 15;
  padding: 0;
  border: 0px transparent;
}
#pulseaudio-slider slider {
  min-height: 0px;
  min-width: 0px;
  background-color: transparent;
  color: transparent;
  border: 0px transparent;
  box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 16px;
  min-width: 80px;
  border-radius: 8;
  background-color: @surface;
  border: 0px solid transparent;
  color: transparent;
}
#pulseaudio-slider highlight {
  border-radius: 8;
  background: @primary;
}
#mpris {
  background-color: @surface;
  color: @on_surface;
  padding: 0 15;
  transition: 300ms;
  border-radius: 10;
  margin: 1;
}
#mpris:hover {
  transition: 300ms;
  color: @on_surface;
  background-color: @surface_container;
}

#mpris.playing {
  color: @on_primary;
  background-color: @primary;
  border-radius: 20;
}
#mpris.playing:hover {
  color: @on_primary_fixed;
  background-color: @primary_fixed;
}
