#cpu,
#memory,
#bluetooth,
#network,
#group-power {
  margin: 0 10;
  color: @on_surface;
}
#cpu {
  background-color: @surface_container;
  margin: 0 0 0 5;
  padding: 0 10;
  border-radius: 20 0 0 20;
}
#memory {
  background-color: @surface_container;
  margin: 0 3 0 0;
  padding: 0 10;
  border-radius: 0 4 4 0;
}

#group-power {
  padding: 0 4 0 1;
  margin: 0;
  transition: 150ms;
  background-color: @surface_container;
  color: @on_surface;
  border-radius: 6 20 20 6;
}
#group-power:hover {
  background-color: @primary_container;
  color: @on_surface;
  transition: 200ms;
  border-radius: 20;
  padding: 0 4;
}
#custom-power,
#custom-reboot,
#custom-logout,
#custom-lock {
  margin: 6px;
  padding: 0 4 0 4;
}

#custom-power:hover {
  transition: 200ms;
  color: @red;
}
#custom-reboot:hover {
  transition: 200ms;
  color: @yellow;
}
#custom-logout:hover {
  transition: 200ms;
  color: @yellow;
}
#custom-lock:hover {
  transition: 200ms;
  color: @green;
}
