#clock {
  color: @on_surface;
  background-color: @surface;
  padding: 0 15;
  margin: 1 10;
  border-radius: 20;
  transition: 200ms;
}
#clock:hover {
  border-radius: 10;
  transition: 200ms;
}
#mpris {
  background-color: @surface;
  color: @on_surface;
  padding: 0 15;
  transition: 300ms;
  border-radius: 10;
  margin: 1;
}
#mpris:hover {
  transition: 300ms;
  color: @on_surface;
  background-color: @surface_container;
}

#mpris.playing {
  color: @on_primary;
  background-color: @primary;
  border-radius: 20;
}
#mpris.playing:hover {
  color: @on_primary_fixed;
  background-color: @primary_fixed;
}
