@import "./colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Jetbrains Mono, sans-serif;
    font-size: 17;
    margin: -1;
    padding: 0;
    box-shadow: inherit;
    text-shadow: inherit;
  }

window#waybar {
  background-color: transparent
}
.modules-left, .modules-center, .modules-right {
  margin: 4;
  padding: 4 10;
  background: @surface;
  border-radius: 10;
  border: 2px solid @primary;
}
#workspaces {
  background-color: transparent;
  border-radius: 20px;
}
#workspaces button {
  background-color: transparent;
  color: @surface_bright;
  margin: 0 5;
  transition: ease-in-out 100ms;
}
#workspaces button:hover {
  color: @primary;
  background-color: transparent;
  transition: ease-in-out 200ms;
}
#workspaces button.active {
  color: @primary;
  border-radius: 20px;
  transition: ease-in-out 200ms;
}

#clock {
  margin: 0 8 0 12;
  color: @on-surface;
}
#tray, #audio {
  padding: 0 10; 
  color: @primary;
}
#tray menu {
  background-color: @background;
  color: @primary;
}
#audio:hover {
  transition: 200ms;
}
#pulseaudio {
  margin: 0 5 0 4;
  color: @secondary; 
  transition: 300ms;
}
#pulseaudio:hover {
  color: @primary;
  transition: 300ms;
}
#pulseaudio-slider {
  margin: 0 4 0 10;
  padding: 0;
  border: 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 16px;
  min-width: 80px;
  border-radius: 8;
  background-color: @surface_container;
}
#pulseaudio-slider highlight {
  border-radius: 8;
  background: @primary;
}
#mpris {
  color: @on_surface;
  padding: 0 10 0 10;
  transition: 300ms;
}
#mpris:hover {
  transition: 300ms;
  color: @primary;
}

#mpris.playing {
  color: @primary;
}
#mpris.playing:hover {
  color: @primary
}

#custom-notifications, #custom-clipboard, #language {
  color: @on_surface;
  padding: 0 8 0 11;
  transition: 300ms;
}
#custom-notifications:hover, #custom-clipboard:hover, #language:hover {
  color: @primary;
  transition: 300ms;
}


#cpu, #memory, #bluetooth, #network, #group-power {
  padding: 0 8;
  color: @on-surface;
}
#group-power {
  padding: 0 4 0 4;
  transition: 150ms;
}

#custom-power, #custom-reboot, #custom-logout, #custom-lock {
  margin: 4px;
padding: 0 4 0 4;
}
#custom-power {
  color: @red;
}
#custom-reboot {
  color: @yellow;
}
#custom-logout {
  color: @yellow;
}
#custom-lock {
  color: @green;
}
