@import "./colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrains Mono, sans-serif;
    font-size: 17;
    margin: 0;
    padding: 0;
    box-shadow: inherit;
    text-shadow: inherit;
  }

window#waybar {
    background-color: @surface;
}


#workspaces {
  background-color: @background;
  border-radius: 20px;
  padding: 0 4 0 4;
}
#workspaces button {
  background-color: transparent;
  color: @surface_bright;
  margin: 4 10 4 10;
  transition: ease-in-out 100ms;
}
#workspaces button:hover {
  color: @primary;
  background-color: transparent;
  padding: 0 10 0 10;
  transition: ease-in-out 200ms;
}
#workspaces button.active {
  color: transparent;
  background: linear-gradient(45deg, @primary 0%, @secondary 100%);
  padding: 0 20px 0 20px;
  margin: 4 0 4 0;
  border-radius: 20px;
  transition: ease-in-out 200ms;
}
#workspaces button.active:hover {
  padding: 0 25 0 25;
  transition: ease-in-out 200ms;
}


#clock {
  margin: 0 8 0 12;
  color: @on-surface;
}
#tray, #audio {
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10; 
  background-color: @surface_container;
  color: @primary;
}
#tray menu {
  background-color: @background;
  color: @primary;
}
#audio:hover {
  border: 2px solid @primary;
  transition: 200ms;
}
#pulseaudio {
  margin: 0 5 0 4;
  color: @secondary; 
  transition: 300ms;
}
#pulseaudio:hover {
  color: @primary;
  transition: 300ms;
}
#pulseaudio-slider {
  margin: 0 4 0 10;
  padding: 0;
  border: 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 16px;
  min-width: 80px;
  border-radius: 8;
  background-color: @background;
}
#pulseaudio-slider highlight {
  border-radius: 8;
  background: @primary;
}
#mpris {
  background-color: @surface_container;
  color: @white;
  border: 2px solid @surface_container;
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10;
  transition: 300ms;
}
#mpris.paused {
  border: 2px solid @surface_container;
  transition: 300ms;
}
#mpris:hover {
  background-color: @primary;
  transition: 300ms;
  color: @surface_container;
  border: 2px solid @primary;
}

#mpris.playing {
  color: @primary;
  border: 2px solid @primary;
}
#mpris.playing:hover {
  background-color: @primary;
  transition: 300ms;
  color: @surface_container;
  border: 2px solid @primary;
}

#custom-notifications, #custom-clipboard {
  background-color: @surface_container;
  color: @primary;
  margin: 4;
  padding: 0 5 0 8;
  border-radius: 6px;
  transition: 300ms;
  border: 2px solid @surface_container;
}
#custom-notifications:hover, #custom-clipboard:hover {
  margin: 4;
  border: 2px solid @primary;
  transition: 300ms;
}


#language, #cpu, #memory, #bluetooth, #network, #group-power {
  margin: 4;
  padding: 0 4 0 4;
  color: @on-surface;
}
#group-power {
  background-color: @surface_container;
  border-radius: 6;
  padding: 0 4 0 4;
  transition: 150ms;
  border: 2px solid @surface_container;
}
#group-power:hover {
  border: 2px solid @red;
  transition: 150ms;
}

#custom-power, #custom-reboot, #custom-logout, #custom-lock {
  margin: 4px;
  padding: 0 4 0 4;
}
#custom-power {
  color: @red;
}
#custom-reboot {
  color: @yellow;
}
#custom-logout {
  color: @yellow;
}
#custom-lock {
  color: @green;
}
