* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono, sans-serif;
    font-size: 16;
}

window#waybar {
    background-color: transparent;
}


#workspaces {
  background-color: #1a1b26;
  margin: 4 0 0 0;
  padding: 3;
  border-radius: 20px;
}
#workspaces button {
  background-color: transparent;
  color: #565f89;  
  transition: ease-in-out 100ms;
}
#workspaces button:hover {
  color: #89b4fa;
  background-color: transparent;
  box-shadow: inherit;
  text-shadow: inherit;
  padding: 0 15 0 15;
  transition: ease-in-out 200ms;
}
#workspaces button.active {
  color: transparent;
  background: linear-gradient(45deg,#7aa2f7 0%,#7dcfff 100%);
  padding: 0 20px 0 20px;
  border-radius: 20px;
  transition: ease-in-out 200ms;
}
#workspaces button.active:hover {
  margin: 0;
  padding: 0 25 0 25;
  transition: ease-in-out 200ms;
}

.modules-left {
  margin: 4 0 0 0;
  border-radius: 8;
  background-color: #1a1b26;
}
#clock {
  margin: 0 8 0 12;
  color: #bb9af7;
}
#tray, #audio {
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10; 
  background-color: #24283b;
  color: #c0caf5;
}
#tray menu {
  background-color: #1a1b26;
  color: #c0caf5;
}
#audio:hover {
  border: 2px solid #7aa2f7;
  transition: 200ms;
}
#pulseaudio {
  margin: 0 5 0 4;
  color: #c0caf5; 
  transition: 300ms;
}
#pulseaudio:hover {
  color: #7aa2f7;
  transition: 300ms;
}
#pulseaudio-slider {
  margin: 0 4 0 10;
  padding: 0;
  border: 0px;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 16px;
  min-width: 80px;
  border-radius: 8;
  background-color: #1a1b26;
}
#pulseaudio-slider highlight {
  border-radius: 8;
  background: linear-gradient(90deg,#7aa2f7 0%, #7dcfff 100%);
}
#mpris {
  background-color: #1a1b26;
  color: #c0caf5;
  border: 2px solid #1a1b26;
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10;
  transition: 300ms;
}
#mpris.paused {
  border: 2px solid #1a1b26;
  transition: 300ms;
}
#mpris:hover {
  background-color: #9ece6a;
  transition: 300ms;
  color: #1a1b26;
  border: 2px solid #9ece6a;
}

#mpris.playing {
  color: #9ece6a;
  border: 2px solid #9ece6a;
}
#mpris.playing:hover {
  background-color: #9ece6a;
  transition: 300ms;
  color: #1a1b26;
  border: 2px solid #9ece6a;
}
.modules-right {
  margin: 4 0 0 0;
  border-radius: 8;
  background-color: #1a1b26;
}
#custom-notifications {
  background-color: #24283b;
  color: #7aa2f7;
  margin: 4;
  padding: 0 5 0 8;
  border-radius: 6px;
  transition: 300ms;
  border: 2px solid #24283b
}
#custom-notifications:hover {
  margin: 4;
  border: 2px solid #7aa2f7;
  transition: 300ms;
}
#custom-clipboard {
  background-color: #24283b;
  color: #f7768e;
  margin: 4;
  padding: 0 5 0 8;
  border-radius: 6px;
  transition: 300ms;
  border: 2px solid #24283b
}
#custom-clipboard:hover {
  margin: 4;
  border: 2px solid #f7768e;
  transition: 300ms;
}

#language, #cpu, #memory, #bluetooth, #network, #group-power {
  margin: 4;
  padding: 0 4 0 4;
  color: #c0caf5;
}
#group-power {
  background-color: #24283b;
  border-radius: 6;
  padding: 0 4 0 4;
  transition: 150ms;
  border: 2px solid #24283b;
}
#group-power:hover {
  border: 2px solid #f7768e;
  transition: 150ms;
}

#custom-power, #custom-reboot, #custom-logout, #custom-lock {
  margin: 4px;
  padding: 0 4 0 4;
}
#custom-power {
  color: #f7768e;
}
#custom-reboot {
  color: #e0af68;
}
#custom-logout {
  color: #e0af68;
}
#custom-lock {
  color: #9ece6a;
}
