* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Rubik, sans-serif;
    font-size: 100%;
}

window#waybar {
    background-color: #1e1e2e;
    border-radius: 0 0 8 8
}


#workspaces {
  background-color: #313244;
  margin: 4px;
  border-radius: 20px;
}
#workspaces button {
  background-color: transparent;
  color: #6c7086;
}
#workspaces button:hover {
  color: #bac2de;
  background-color: transparent;
  padding: 0 20px 0 20px;
  transition: 300ms;
  transition-delay: 150ms;
}
#workspaces button.active {
  color: #11111b;
  background-color: #89b4fa;
  padding: 0 25px 0 25px;
  border-radius: 20px;
  transition: linear 100ms;
}
#workspaces button.active:hover {
  margin: 0;
}

.modules-left {
  border-radius: 8;
}
#clock {
  margin: 0 8 0 12;
  color: #cdd6f4;
}
#tray {
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10; 
  background-color: #313244;
  color: #cdd6f4;
}
#tray menu {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
#mpris {
  background-color: #a6e3a1;
  color: #1e1e2e;
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10;
}
.modules-right {
  background-color: #313244;
  border-radius: 8;
}
#custom-notifications {
  background-color: #45475a;
  color: #74c7ec;
  margin: 4;
  padding: 0 5 0 8;
  border-radius: 6px;
}
#custom-notifications:hover {
  background-color: #585b70;
  transition: 300ms;
}
#language, #cpu, #memory, #bluetooth, #network, #group-power {
  margin: 4;
  padding: 0 4 0 4;
  color: #cdd6f4;
}
#group-power {
  background-color: #45475a;
  border-radius: 6;
  padding: 0 4 0 2;
  transition: 150ms;
}

#custom-power, #custom-reboot, #custom-logout, #custom-lock {
  margin: 4px;
  padding: 0 4 0 4;
}
#custom-power {
  color: #f38ba8;
}
#custom-reboot {
  color: #fab387;
}
#custom-logout {
  color: #f9e2af;
}
#custom-lock {
  color: #a6e3a1;
}
