* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: JetBrainsMono, sans-serif;
    font-size: 16;
}

window#waybar {
    background-color: transparent;
}


#workspaces {
  background-color: #11111b;
  margin: 4 0 0 0;
  padding: 3;
  border-radius: 20px;
}
#workspaces button {
  background-color: transparent;
  color: #6c7086;
  transition: ease-in-out 100ms;
}
#workspaces button:hover {
  color: #89b4fa;
  background-color: transparent;
  box-shadow: inherit;
  text-shadow: inherit;
  padding: 0 15 0 15;
  transition: ease-in-out 200ms;
}
#workspaces button.active {
  color: transparent;
  background: linear-gradient(45deg,rgba(137, 180, 250, 1) 0%, rgba(180, 190, 254, 1) 100%);
  padding: 0 20px 0 20px;
  border-radius: 20px;
  transition: ease-in-out 200ms;
}
#workspaces button.active:hover {
  margin: 0;
  background: linear-gradient(45deg,rgba(180, 190, 254, 1) 0%, rgba(137, 180, 250, 1) 100%);
  padding: 0 25 0 25;
  transition: ease-in-out 200ms;
}

.modules-left {
  margin: 4 0 0 0;
  border-radius: 8;
  background-color: #11111b;
}
#clock {
  margin: 0 8 0 12;
  color: #cba6f7;
}
#tray, #audio {
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10; 
  background-color: #1e1e2e;
  color: #cdd6f4;
}
#tray menu {
  background-color: #1e1e2e;
  color: #cdd6f4;
}
#audio:hover {
  border: 2px solid #89b4fa;
  transition: 200ms;
}
#pulseaudio {
  margin: 0 5 0 4;
  color: #cdd6f4;
  transition: 300ms;
}
#pulseaudio:hover {
  color: rgba(137,180,250,1);
  transition: 300ms;
}
#pulseaudio-slider {
  margin: 0 4 0 10;
  padding: 0;
  border: 0px;
  color: #74c7ec;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
#pulseaudio-slider trough {
  min-height: 16px;
  min-width: 80px;
  border-radius: 8;
  background-color: #313244;
}
#pulseaudio-slider highlight {
  border-radius: 8;
  background: linear-gradient(90deg,rgba(137, 180, 250, 1) 50%, rgba(116, 199, 236, 1) 100%);
}
#mpris {
  background-color: #1e1e2e;
  color: #cdd6f4;
  border: 2px solid #a6e3a1;
  margin: 4;
  border-radius: 6;
  padding: 0 10 0 10;
  transition: 300ms;
}
#mpris.paused {
  border: 2px solid #1e1e2e;
  transition: 300ms;
}
#mpris:hover {
  background-color: #a6e3a1;
  transition: 300ms;
  color: #1e1e2e;
  border: 2px solid #a6e3a1;
}
#mpris.stopped {
  border: 0;
  background: transparent;
  color: transparent;
}
#mpris.playing {
  color: #a6e3a1
}
#mpris.playing:hover {
  background-color: #a6e3a1;
  transition: 300ms;
  color: #1e1e2e;
  border: 2px solid #a6e3a1;
}
.modules-right {
  margin: 4 0 0 0;
  background-color: #11111b;
  border-radius: 8;
}
#custom-notifications {
  background-color: #1e1e2e;
  color: #74c7ec;
  margin: 4;
  padding: 0 5 0 8;
  border-radius: 6px;
  transition: 300ms;
  border: 2px solid #1e1e2e
}
#custom-notifications:hover {
  margin: 4;
  border: 2px solid #74c7ec;
  transition: 300ms;
}
#custom-clipboard {
  background-color: #1e1e2e;
  color: #f38ba8;
  margin: 4;
  padding: 0 5 0 8;
  border-radius: 6px;
  transition: 300ms;
  border: 2px solid #1e1e2e
}
#custom-clipboard:hover {
  margin: 4;
  border: 2px solid #f38ba8;
  transition: 300ms;
}

#language, #cpu, #memory, #bluetooth, #network, #group-power {
  margin: 4;
  padding: 0 4 0 4;
  color: #cdd6f4;
}
#group-power {
  background-color: #1e1e2e;
  border-radius: 6;
  padding: 0 4 0 4;
  transition: 150ms;
  border: 2px solid #1e1e2e;
}
#group-power:hover {
  border: 2px solid #f38ba8;
  transition: 150ms;
}

#custom-power, #custom-reboot, #custom-logout, #custom-lock {
  margin: 4px;
  padding: 0 4 0 4;
}
#custom-power {
  color: #f38ba8;
}
#custom-reboot {
  color: #fab387;
}
#custom-logout {
  color: #f9e2af;
}
#custom-lock {
  color: #a6e3a1;
}
