@import "./colors.css";
@import "./workspaces.css";
@import "./audio.css";
@import "./dashboard.css";
* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "Google Sans Flex", "Symbols Nerd Font Propo";
  font-weight: 400;
  font-size: 16;
  margin: -1;
  padding: 0;
  box-shadow: inherit;
}

window#waybar {
  background-color: transparent;
}
.modules-left,
.modules-center,
.modules-right {
  padding: 0;
  margin: 5 5 1 5;
}
.modules-right {
  background-color: @surface;
  border-radius: 20px;
  padding: 4 3 4 3;
}
#clock {
  color: @on_surface;
  background-color: @surface;
  padding: 0 15;
  margin: 1 10;
  border-radius: 20;
  transition: 200ms;
}
#clock:hover {
  border-radius: 10;
  transition: 200ms;
}
#tray,
#audio {
  padding: 0 8 0 10;
  margin: 0;
  color: @primary;
}
#tray {
  background-color: @surface;
  border-radius: 20px;
  margin: 3 10;
  padding: 0 15;
}
#tray image {
  color: @primary;
}
#tray menu {
  background-color: @surface;
  color: @on_surface;
  padding: 5;
}
#tray menu > *:not(separator) {
  padding: 5 0;
}
#tray menu > *:hover:not(separator) {
  background-color: @surface_container;
  color: @on_surface_container;
  transition: 200ms;
}

#custom-notifications,
#custom-clipboard,
#language {
  color: @on_surface;
  margin: 0 10;
  transition: 200ms;
}
#custom-notifications {
  margin: 0 10 0 15;
}
#custom-notifications:hover,
#custom-clipboard:hover,
#language:hover {
  color: @primary;
  transition: 200ms;
}
