@import "colors.css";

windowcontrols.start:not(.colored):not(.macos):not(.default)
  > button.minimize
  > image {
  color: @yellow_1;
}

windowcontrols.start:not(.colored):not(.macos):not(.default)
  > button.maximize
  > image {
  color: @green_1;
}

windowcontrols.start:not(.colored):not(.macos):not(.default)
  > button.close
  > image {
  color: @red_1;
}

windowcontrols.end:not(.colored):not(.macos):not(.default)
  > button.minimize
  > image {
  color: @yellow_1;
}

windowcontrols.end:not(.colored):not(.macos):not(.default)
  > button.maximize
  > image {
  color: @green_1;
}

windowcontrols.end:not(.colored):not(.macos):not(.default)
  > button.close
  > image {
  color: @red_1;
}

/* adw-gtk3 Colorizer Extension Start */
@define-color accent_bg_color #3584e4;
@define-color accent_color @accent_bg_color;
/* adw-gtk3 Colorizer Extension End */
